@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;box-sizing: border-box;
    font-family: "Space Grotesk";
    scroll-behavior: smooth;
}

.container {
    max-width: 1600px;
    padding: 70px 100px;
    margin: 0 auto;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}


.flex-btwn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn{
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    background: #191A23;
    font-size: 18px;
    padding: 18px 35px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    border-radius: 14px;
    border: 1px solid #191A23;
    transition: 0.2s all;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn:hover{
    color: #000;
}

.btn::after{
    position: absolute;
    content: "";
    left: -92%;
    top: -73%;
    width: 100%;
    height: 100%;
    background: #B9FF66;
    transition: 0.2s all;
    z-index: -1;
    /* position: absolute;
    content: "";
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: #191A23;
    border-radius: 45px;
    transition: 0.3s all;
    z-index: -1; */
}

.btn:hover::after{
    left: 0;
    top: 0;
    transition: 0.2s;
}





.header-container{
    padding-top: 16px;
}

.logo-box{
    max-width: 220px;
    height: 36px;
}

.logo-box a {
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.logo-box img{
    width: 90%;
}

.navigation{
    width: 100%;
    list-style-type: none;
    position: relative;
}

.navigation .nav-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

.navigation .nav-menu a {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.navigation .nav-menu li a:hover{
    color: #191A23;
}

.navigation .nav-menu li a::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background: #191A23;
    transition: all 0.1s ease-in-out;
}

.navigation .nav-menu li a:hover::after{
    width: 100%;
}

.navigation .nav-menu .quote {
    color: #191A23;
    background: #fff;
}
.navigation .nav-menu .quote::after {
    background: #000;
}

.navigation .nav-menu .quote:hover {
    color: #fff;
}

#clicker{
    display: none;
}

.close,
.open {
  position: absolute;
  cursor: pointer;
  font-size: 30px;
  display: none;
  color: #191A23;
}


.open {
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  
.close {
    right: 20px;
    top: 26px;
}





.hero-container{
    width: 100%;
    margin: 35px auto 0 auto;
}

.hero-content{
width: 520px;
}

.hero-content h1 {
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero-content p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 25px 0;
}

.hero-image{
max-width: 480px;
}

.hero-image img{
width: 100%;
height: auto;
}





/*
====================================
========== company logos ===========
====================================
*/

.company-logos{
    max-height: 48px;
    flex-wrap: wrap;
}

.company-logos img{
    height: 100%;
}





/*
====================================
======== Services section ==========
====================================
*/
.section-header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: 70px;
}

.section-heading h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0 7px;
    background: #b9ff66;
    border-radius: 7px;
}

.section-sub-heading p{
    width: 70%;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 7px;
}

.services-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    grid-gap: 40px;
}

.card-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.services-card{
    background: #f3f3f3;
    padding: 40px;
    border: 1px solid #191A23;
    border-radius: 45px;
    box-shadow: 0px 5px 0px 0px #191A23;
}

.bg-green{
    background: #b9ff66;
}

.bg-black{
    background: #191A23;
}

.services-cards .bg-black .card-title h3,
.services-cards .bg-green .card-title h3
{
    background: #fff;
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 93px;
}

.card-content .card-title h3 {
    display: inline-block;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: #b9ff66;
    border-radius: 7px;
    padding: 0 7px;
}
.card-content .card-link{
    display: flex;
    align-items: center;
    gap: 15px;
}

.card-content .card-link p {
    color: #191A23;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    cursor: pointer;
    transition: all .2s;
}

.card-content .card-link p:hover{
    font-weight: bold;
}

.card-content .card-link img{
    max-width: 40px;
    height: auto;
    cursor: pointer;
    transform: scale(95%);
    transition: all .2s;
}

.card-content .card-link:hover img{
    transform: scale(100%);
}

.card-image{
    width: 200px;
}

.card-image img{
    width: 100%;
    height: auto;
}








/*
====================================
=========== CTA section ===========
====================================
*/
.cta-container {
    padding: 0px 60px;
    margin: 100px;
    margin-top: 50px;
    background: #F3F3F3;
    border-radius: 45px;
    flex-shrink: 0;
}

.cta-container .cta-content{
    width: 500px;
    align-items: flex-start;
    justify-content: center;
    gap: 26px;

}
.cta-container .cta-content h3 {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cta-container .cta-content p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cta-container .cta-image{
    max-height: 348px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container .cta-image img{
    height: 100%;
}






/*
====================================
======== case block studio =========
====================================
*/

.case-studio-container .case-studio-card-container {
    align-items: flex-start;
    border-radius: 45px;
    background: #191A23;
    padding: 70px 60px;
    gap: 64px;

}

.case-studio-card-container .single-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.case-studio-card-container .line-card {
    width: 1px;
    height: 148px;
    background: #FFF;
}

.case-studio-card-container .single-card .details p {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.case-studio-card-container .single-card .learn-more{
    display: flex;
    align-items: center;
    gap: 15px;
}

.case-studio-card-container .single-card .learn-more p {
    color: #B9FF66;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    cursor: pointer;
    transition: all .2s;
}

.case-studio-card-container .single-card .learn-more p:hover {
    font-weight: bold;
}

.case-studio-card-container .single-card .learn-more img {
    max-width: 15px;
    height: auto;
    cursor: pointer;
    transition: all .2s;
}

.case-studio-card-container .single-card .learn-more:hover img {
    max-width: 17px;
}






/*
====================================
======= Testimonials section =======
====================================
*/

.testimonials-container .testimonials-card-wrapper{
    background-color: #191A23;
    border-radius: 45px;
    padding: 50px;
    gap: 40px;
}

.testimonials-card-wrapper .review-card .comments{
    padding: 35px;
    border: 1px solid #b9ff66;
    border-radius: 45px;
    position: relative;
}

.testimonials-card-wrapper .review-card .comments::after{
    position: absolute;
    content: '';
    height: 30px;
    width: 30px;
    background: #191A23;
    border-left: 1px solid #b9ff66;
    border-top: 1px solid #b9ff66;
    border-right: 1px solid #191A23;
    border-bottom: 1px solid #191A23;
    transform: translate(75%, 60%) rotate(225deg);
}

.testimonials-card-wrapper .review-card .comments p{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
}

.testimonials-card-wrapper .review-card .name-info{
    margin-bottom: 24px;
    /* position: absolute; */
    transform: translate(12%, 70%);
}

.testimonials-card-wrapper .review-card .name-info h4{
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.testimonials-card-wrapper .review-card .name-info .vip{
    color: #b9ff66; 
    font-size: 18px;
    font-weight: 500;
}





/*
====================================
======= Contact section =======
====================================
*/
.contact-container .contact-form-wrapper{
    padding: 60px 100px 80px 100px;
    background: #f3f3f3;
    border-radius: 45px;
    background-image: url(./assets/contact.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 202% 50%;
}

.contact-form-wrapper .contact-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-form-wrapper .contact-form .radio-buttons{
    display: flex;
    gap: 35px;
}

.contact-form .radio-buttons .radio-color{
    accent-color: #B9FF66;
}

.contact-form-wrapper .contact-form .input-fields{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-fields .name-field,
.input-fields .email-field,
.input-fields .message-field{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-form .input-fields input{
    display: block;
    width: 100%;
    outline: 0;
    padding: 12px 30px;
    border-radius: 14px;
    border: 1px solid #000;
    font-size: 18px;
    background: #FFF;
    color: #191A23;
}

.contact-form .input-fields textarea{
    display: block;
    width: 100%;
    height: 150px;
    outline: 0;
    font-size: 18px;
    color: #191A23;
    padding: 14px 30px;
    border-radius: 14px;
    resize: none;
}

.contact-form-wrapper .contact-form label{
    color: #000;
    font-size: 16px;
    line-height: 28px;
}

.contact-form .send-button button {
    display: block;
    outline: 0;
    border: 0;
    width: 100%;
    padding: 14px 35px;
    border-radius: 14px;
    text-align: center;
    background: #191A23;
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    cursor: pointer;
}





/*
====================================
===== Working process section ======
====================================
*/

.working-process-blocks-wrapper .working-process {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.working-process-blocks-wrapper .working-process .process-block{
    list-style-type: none;
    padding: 41px 60px;
    border-radius: 45px;
    border: 1px solid #191A23;
    background: #b9ff66;
    box-shadow: 0px 5px 0px 0px #191A23;
}

.working-process .process-block input[type="radio"]
{   display: none;}

.working-process .process-block label {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 26px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.working-process .process-block label .block-number{
    font-size: 30px;
    margin-right: 25px;
}

.working-process .process-block label::after{
    content: "+";
    width: 30px;
    height: 30px;
    font-size: 30px;
    background: #f3f3f3;
    border: 1px solid #191A23;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.working-process .process-block .hidden-text{
    max-height: 0;
    overflow: hidden;
}

.working-process .process-block .hidden-text p{
    margin-top: 26px;
    font-size: 16px;
    color: #000;
    border-top: 1px solid #000;
    padding-top: 30px;
    text-align: justify;
}

.working-process .process-block input[type="radio"]:checked ~ .hidden-text{
    max-height: fit-content;
}

.working-process .process-block input[type="radio"]:checked ~ label::after{
    content: "-";
    line-height: 26px;
}





/*
====================================
========== Our Team section ========
====================================
*/

.team-container .team-members-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    position: relative;
    margin-bottom: 10%;
}

.team-container .team-members-wrapper .team-member {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    padding: 40px 35px;
    border-radius: 45px;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px 0px #191A23;
}

.team-members-wrapper .team-member .user-profile{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.team-members-wrapper .team-member .user-profile h4{
    font-size: 18px;
    font-weight: 500; 
}

.team-members-wrapper .team-member .user-profile p{
    font-size: 13px;
}

.team-members-wrapper .team-member .middle-line{
    width: 100%;
    height: 1px;
    background: #000;
}

.team-member .user-profile .user-pic{
    max-width: 100px;
    height: auto;
}

.team-member .user-profile .user-pic img{
    width: 100%;
}

.team-members-wrapper .team-member .user-details p{
    color: #000;
    font-size: 16px;
}

.team-container .see-more-btn{
    position: absolute;
    right: 0;
    bottom: -15%;
}

.team-container .see-more-btn .btn{
    padding: 18px 70px;
}




/*
====================================
============ breakpoints ===========
============ breakpoints ===========
============ breakpoints ===========
====================================
*/



@media screen and (max-width: 899px) { 

/* =========== CTA section ============ */
.cta-container .cta-image {
        display: none;
    }
.cta-container .cta-content h3 {
    font-size: 26px;
}
.cta-container .cta-content p {
    font-size: 16px;
}



/*======= Testimonials section =======*/
.testimonials-card-wrapper .mobile-hide{
    display: none;
}

.testimonials-card-wrapper .review-card .comments p {
    font-size: 16px;
}

}







/*
====================================
====================================
====================================
*/


@media screen and (max-width: 619px) {
.header-container {
    padding: 24px 12px !important;
}

.container {
    padding: 60px 12px 0 12px;
    margin-bottom: 0;
}

.close,
.open {
    display: block;
}

.navigation .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100vh;
    position: fixed;
    top: 0;
    background: #B9FF66;
    right: -50%;
    transform: translateX(200%) rotateZ(-90deg);
    box-shadow: -200px 0 0px rgba(0, 0, 0, 0.9);
    z-index: 100;
    transition: all .4s ease-in-out;
}

.nav-menu .btn{
    font-size: 14px;
    padding: 7px 35px;
}

.navigation .nav-menu .quote {
    width: 90%;
}

#clicker:checked~.nav-menu {
    right: 0;
    transform: translateX(0) rotateZ(0);
}

.hero-container {
    margin-top: 35px;
}

.hero-wrapper{
    flex-direction: column;
    gap: 35px;
}

.hero-content {
    width: 100%;
}

.hero-content h1{
    font-size: 43px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero-content p {
    width: 90%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 22px 0;
}

.hero-image img{
    transform: scale(95%);
    transition: all .3s ease-in-out;
}

.hero-image:hover img{
    transform: scale(100%);
    transition: .2s;

}

.btn{
    width: 100%;
    padding: 18px 32px;
}

.btn::after{
    left: -96%;
}




.company-logos {
    justify-content: space-around;
    max-height: 110px;
    margin-bottom: 70px;
}




/* ======== Services section ========== */
.section-header{
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.section-heading{
    width: auto !important;
    text-align: center;
}

.section-sub-heading p{
    text-align: center;
    width: 100% !important;
}

.services-cards{
    grid-template-columns: repeat(1, 1fr);
}

.services-cards .card-wrapper {
    gap: 32px;
    flex-direction: column;
}

.services-cards .card-wrapper .card-content {
    gap: 38px;
}



/*=========== CTA section ============*/

.cta-container {
    margin: 60px 12px 0 12px;
    padding: 50px;
}



/*=========== Uses case block section ============*/

.case-studio-container .case-studio-card-container {
    padding: 42px 50px;
    flex-direction: column;
    gap: 20px;
}

.case-studio-card-container .single-card:nth-child(3),
.case-studio-card-container .single-card:nth-child(5),
.case-studio-card-container .line-card {
    display: none;
}

.case-studio-card-container .single-card .details p {
    font-size: 19px;
}




/* ===== Working process section ====== */
.working-process-blocks-wrapper .working-process .process-block{
    padding: 30px;
}

.working-process .process-block label {
    font-size: 18px;
    padding-right: 32px;
}

.working-process .process-block .hidden-text p {
    margin-top: 16px;
    font-size: 14px;
    padding-top: 18px;
}



/* ===== Team section ====== */
.team-container .team-members-wrapper{
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    margin-bottom: 28%;
}



/*======= Testimonials section =======*/
.testimonials-container .testimonials-card-wrapper {
    padding: 38px;
}

.team-container .see-more-btn{
    left: 0;
    bottom: -5%;
}





/*======= Contact section =======*/
.contact-form-wrapper .contact-form {
    width: 100%;
}

.contact-container .contact-form-wrapper {
    padding: 40px 30px;
    background-image: none;
}


}








/*
====================================
====================================
====================================
*/
@media screen and (min-width:320px) 
and (max-width:350px) {

}